/* SORT */

.sort__select{
  
  color:#a8a4a4;
  background-color:white;
  height:fit-content;
  
  
}

.sort-logo{
  padding:0px 10px;
}

.sort-type{
  padding:0px 10px;
}
.sort__head{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  height:50px;
  padding:0px 10px;
  font-size:14px;
  cursor:pointer;
  white-space:nowrap;
  position:relative;
}

.sort__head:active{
  color:#969393;
}

.sort__options{
position:absolute;

}

.sort__option{
  height:33px;
  width:180px;
  padding:0px 10px;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  color:#2b3536;
  background-color:#f9fbee;
  border:1px solid #c9c9c954;
  font-size:14px;
  cursor:pointer;
 
  
}

.sort__option:hover{
  background-color:#edf2fb;

}