/* sidebar */

.sidebar{
    background-color:#ecedf5;
    position:fixed;
    height:100%;
    width:257px;
    top:0px;
    left:50px;
  
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  
  /* selects */
  
  
  


  
  