 /* nav */

 .nav{
    flex: 1;
    max-width: 500px;
    display: flex;
    border: 1px solid rgb(133, 133, 133,0.5);
    border-radius: 5px;
  }
  
  .nav__search-input{
    flex: 1;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 8px;
  }
  
  .nav__search-btn{
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }