
/* price range */
  
  .price{
    height: 50px;
    width: 100%;
    margin-top:200px;
  }
  
  input[type='range'] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
      outline: none;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
      background: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 2px;
    background:#5d6b9f;
  }
  
  input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
  }
  
  input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #5d6b9f;
    border: 1px solid #5d6b9f;
    border-radius: 25px;
    z-index: 1;
    
  }
  
  
  input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
  }
  
  .rangeslider{
      position: relative;
      height: 60px;
      width: 210px;
      display: inline-block;
      margin-top: -5px;
      margin-left: 20px;
  }
  .rangeslider input{
      position: absolute;
  }
  .rangeslider{
      position: absolute;
  }
  
  .rangeslider span{
      position: absolute;
      margin-top: 30px;
      left: 0;
  }
  
  .rangeslider .right{
     position: relative;
     float: right;
     margin-right: -5px;
  }
  
  
  /* Proof of concept for Firefox */
  @-moz-document url-prefix() {
    .rangeslider::before{
      content:'';
      width:100%;
      height:2px;
      background: #003D7C;
      display:block;
      position: relative;
      top:16px;
    }
  
    input[type='range']:nth-child(1){
      position:absolute;
      top:35px !important;
      overflow:visible !important;
      height:0;
    }
  
    input[type='range']:nth-child(2){
      position:absolute;
      top:35px !important;
      overflow:visible !important;
      height:0;
    }
  input[type='range']::-moz-range-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
  }
  
    input[type='range']:nth-child(1)::-moz-range-thumb {
        transform: translateY(-20px);    
    }
    input[type='range']:nth-child(2)::-moz-range-thumb {
        transform: translateY(-20px);    
    }
  }

.light{
  padding:3px 6px;
  border:1px solid rgba(128, 128, 128, 0.445);
  border-radius:3px;
  background-color:white;
}