.btn{
    text-transform: uppercase;
    white-space: nowrap;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #61d5df;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 0 14px;
    outline: none;
    cursor: pointer;
  }
  