

/* main nav */

.main-nav{
    background-color:#ffffff;
    position:fixed;
    height:100%;
    width:50px;
    top:0px;
    left:0px;
  
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor:pointer;
    z-index:9;
    
  }

.main-nav img{
  max-width:80%;
  margin:0px auto;
  padding:30px 0px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.281);
  margin-bottom:15px;
}

.main-nav__btn .fa{
  font-size:25px;
  color:#49547d;
  cursor:pointer;
}

.main-nav__btn:nth-of-type(1) .fa{
  padding: 2px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #61d5df;
}

.main-nav__btn .fa--hilighted{
color:#61d5df;


}
.main-nav__btn--selected{
  
  border-left:2px solid ;
  box-sizing:border-box;
  border-left-color: #61d5df;
  background-color:#f7fdfd;
  
}

.main-nav__btn{
  padding:15px 0px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.fa:hover{
  color:#61d5df;  
}

