.main{
    background-color:#f8f9fa;
    width:calc(100vw - 307px);
    height:calc(100vh - 122px);
    margin-left:307px;
    margin-top:calc(75px + 47px);
    overflow-y:scroll;
    overflow-x: none;
    

}


