.sidebar__select{
    height: 52px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.73;
    color: #ffffff;
   
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .sidebar__select option{
    background-color: #ecedf5;
    color:black;
    height: 152px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.73;
    
  }
  
  .sidebar__select--light{
    background-color: #9da9d5;
  }
  
  .sidebar__select--dark{
    background-color: #5d6b9f;
  }