@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("./reset.css");

/* common styles */
*{
  font-family: 'Rubik', sans-serif;
}


@media only screen and (max-width:1075px) {
  .main-nav{
    display:none !important;
  }

  .sidebar{
    left:0px !important;
  }

  .main, .header{
    margin-left:257px !important;
    width:calc(100vw - 257px) !important
  }
  .header__left{
    flex-direction: row-reverse !important;
  }
  .header__selected-items--hidden{
    display:none;
  }
  .seperator{
    display:none !important;
  }

  .header .header__left button:nth-of-type(2){
    display:none !important;
  }

}

@media only screen and (max-width:930px) {


  .sidebar{
    display:none !important;
  }

  .main, .header{
    margin-left:0px !important;
    width:100% !important
  }
  .header button:nth-of-type(3){
    display:block !important;
  }

}

@media only screen and (max-width:600px){
.modal__content{
  margin-top: 300px !important;
}
}

.sort_options{
  z-index:10000 !important;
}



