
.modal{
    width:100vw;
    height:100vh;
    background-color:rgba(60, 98, 180, 0.486);
    position:fixed;
    top:0px;
    left:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid gray;
    z-index: 7;
    overflow-y: scroll;
    cursor: auto;
}


.modal__content{
    flex:1;
    max-width:1100px;
    min-height:600px;
    display:flex;
    flex-wrap: wrap;
    border-radius:20px;
    background-color:white;
    position:relative;
}

.modal__left-side{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    flex: 1;
    min-width:300px;
    border-radius:20px 0px 0px 20px;
    background-color:#fbfbfb;
}

.modal__price{
    color:gray;
    font-size:24px;
    margin:20px;
}

.modal__photo{
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal__photo img{
    max-width:300px;
    max-height:600px;
}


.modal__right-side{
    display:flex;
    flex-direction:column;
    flex:2;
    min-width:300px;
    box-sizing:border-box;
    padding:20px;
}

.modal__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size:24px;
    text-align: center;
    margin:20px 0px;
}

.modal__btn{
    text-align:right;
    margin:20px 0px;
}
hr{
    width:100%;
    color:gainsboro;
}
.modal__description-title{
    text-align:right;
    font-size:20px;
    font-weight:18px;
    margin-bottom:5px;
    margin:20px 0px;
}

.modal__description{
    font-size:18px;
    
    line-height: 1.5em;
    
}

.close-modal{
position:absolute;
right:15px;
top:10px;
cursor:pointer;
}