#main-content{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-auto-rows: 400px;
  gap:20px;
  padding:25px;
  box-sizing:border-box;
}


.product{
    
    
    max-height:450px;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction:column;
    position:relative;
    border:2px solid rgba(185, 185, 185, 0.287);
    border-radius:10px;
    background-color: white;
    cursor:pointer;
}

.product:hover{
  border-color:#61d5df;
}


.product__img{
    min-height:280px;
    max-height:280px;
    width:100%;
    display:flex;
    align-items:flex-end;
    justify-content:center;

}
.product__img img{
    max-width:260px;
    object-fit: contain;
    max-height:280px;
    padding:10px;
    box-sizing:border-box;


}

.product__title{

    height: fit-content;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 14px;
    font-weight:bold;
    color: #3b3b3b;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    margin:0px;
    padding:0px 10px;
    max-height:35px;
    max-width:92%;
    line-height: 20px;
}



.product__category{



    font-size: 17px;
    color: #3b3b3b;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0px;
    padding:0px 10px;
    max-height:35px;
}

.product__price{
    width:94%;
    border-top:1px solid rgba(169, 169, 169, 0.44);
    max-height:30px;
    font-family: "Gilroy";
    font-size: 22px;
    color: #3b3b3b;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:10px;
}

.product__head{
    position:absolute;
    top:0px;
    left:0px;
    display:flex;
    justify-content:space-between;
    width:calc(100% - 20px) ;
    padding:15px 10px;

}

.product__head--hidden{
  display:none;
}

.product__head--show{
  display:flex;
}



  .product__category--highlited{
    text-decoration: underline;
    color:#61d5df;
  }

  #checkbox{
    width:25px;
    height:25px;
    content:url('./images/192348005_546911586491681_1892770961335124482_n.jpg');
    outline:none;
    cursor:pointer;
    opacity:0.5;
  }

  #checkbox:checked{
    width:25px;
    height:25px;
    content:url('./images/17-170233_julia-bayer-on-twitter-facebook-blue-tick-png.png');
    cursor:pointer;
    border:none;
    opacity:1;
  }